/*GLOBAL*/
*{
    font-family: 'Baloo Tamma 2', cursive;
}
body{
    background-color: ghostwhite;
}
.centerTxts{
    text-align: center;
}
.svg{
    background-color: white;
}
#helpTable{
    background-color: antiquewhite;
    border-radius: 5px;
}
th,td{
    padding: 5px;
}

#mainImg{
    max-width: 100%;
    border-radius: 5px;
}
.dropdown{
    margin-top: 10px;
}

/*HEAD*/
.navbar-brand{
    text-align:center;
    color: white !important;
}

.lato{
    font-family: 'Baloo Tamma 2', cursive;
}

.navbar-custom{
    background-color: #021227;
    border-bottom: 3px solid !important;
    border-color: cadetblue !important;
    font-family: 'Baloo Tamma 2', cursive;
}
.socials{
    color: ghostwhite;
    font-size: 1rem;
    padding: 10px;
}
.socialsLrg{
    color: ghostwhite;
    font-size: 1.5rem;
    padding: 10px;
}
.socialsLrg:hover{
    text-decoration: none; 
    color: cadetblue;   
}
.socials:hover{
    text-decoration: none;    
    color: cadetblue;   
}
.dropdown-menu{
    background-color: #2b333b;

}

#title{
    padding: 5px;
    color: white;
}
.spacer-50{
    margin: 25px !important;
}
.spacer-50{
    margin: 50px !important;
}
.spacer-5{
    margin: 5px !important;
}
.icon-brand{
    width:200px;
}
.card-deck-space-top{
    margin-top: 50px !important;
}
.card-in-deck{
    margin: 2rem !important;
}
.card-columns{
    column-gap: 4rem !important;
}
.card-footer{
    height: 60px !important;
}

/*FOOT*/
.navbar-custom-foot{
    background-color: ghostwhite;
    border-top: 1px solid !important;
    border-color: cadetblue !important;
}
.icon-footer{
    height: 40px;
}
.spacer-75{
        margin: 75px !important;
}
.spacer-150{
        margin: 150px !important;
}
.icon-promo{
    height:60px;
    border-radius: 5px;
}
.icon-projects{
    max-width:100%;
    max-height:100%;
}
.icon-lrg{
    height:100px;
}
.icon-sm{
    width: 80px;
    height: auto;
    float: right;
}

/* Carousel icons */
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
   
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}